@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}

.centre{
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	background-color: rgba(255, 255, 255, 0.85);
	display: flex;
	align-items: center;/* 垂直居中 */
	z-index: 1;
	
	/* border: 5px solid black; */
}

#sideNav {
    background: beige;
    position: fixed;
    top: 150px;
    left: -150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 700;
    font-size: 25px;
    height: 300px;
    width: 150px;
    transition: 0.6s;
	display: flex;
	justify-content: center;/* 水平居中 */
	z-index: 4;
}
#sideNav ul li{
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: center;/* 水平居中 */
	align-items: center;/* 垂直居中 */
}
#sideNav a{
	text-decoration: none;/* 取消下划线 */
	letter-spacing: 4px;/* 每个字的左右间隔 */
}
#sideNav a:hover{
	color: rgb(235, 131, 40);
}


#navButton {
    background: beige;
    position: fixed;
    top: 260px;
    left: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    height: 80px;
    width: 50px;
    transition: 0.6s;
	z-index: 4;
}

.container{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 33.33% 33.33% 33.33%;
}

.item{
	display: flex;
	justify-content: center;/* 水平居中 */
	align-items: center;/* 垂直居中 */
}

.image{
	width: 370px;
	height: 270px;
	z-index: 1;
	display: flex;
	justify-content: center;/* 水平居中 */
	flex-wrap: wrap;
	overflow: hidden;
	box-shadow: 10px 10px 20px rgba(48, 48, 48, 0.5);/* 阴影 */
	border-radius: 20px 20px 20px 20px;/* 边框弧度 */
}

.image img{
	width: 100%;
	height: 100%;
	float: left;
	transition: 0.6s;
	border-radius: 20px 20px 20px 20px;/* 边框弧度 */
}
.image img:hover{
	transform: scale(1.3);
	cursor: pointer;
}

.describe{
	width: 100%;
	height: 10%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	top: -25px;
}

.image a{
	position: relative;
	top: -46px;
	color: white;
	z-index: 2;
}